.watchlist-container {
    .watchlist-cards-container {
        display: flex;
        flex-direction: column;
        margin: 0 0 20px 0;
        cursor: pointer;

        .watchlist-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //margin: 0 10px;
            color: #707384;

            .header-title {
                display: flex;
                align-items: center;
                font-weight: bolder;

                span {
                    margin-right: 10px;
                }

                .add-icon {
                    display: flex;
                    align-items: center;
                    border-radius: 25px;
                }
            }

            .arrow-buton {
                color: #383e49;
            }
        }

        
        .watchlist-content {
            display: flex;
            flex-direction: row;
            overflow: auto;

            .watchlist-card {
                display: flex;
                flex-direction: row;
                flex-shrink: 0;

                margin: 10px 10px 10px 0px;
                width: 170px;
                border-radius: 8px;
                overflow: hidden;

                background-color: #3478f6;
                color: #FFF;
                
                .card-icon {
                    display: flex;
                    align-items: center;
                    padding: 0px 10px 0px 10px;
                    background-color: #5093f7;
                    border-radius: 0 40px 40px 0px;
                }

                .card-content {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    margin: 15px 10px 15px 10px;
                    
                    font-weight: bold;
                    font-size: 12px;
                    

                    .card-header {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        
                        margin: 0 0 5px 0;

                        .coin-name {
                            margin: 0 3px 0 0;
                        }

                        .coin-code {
                            padding: 3px 2px 2px 2px;
                            font-size: 8px;
                            background-color: #2b66d2;
                            border-radius: 10%;
                        }
                    }

                    .card-value {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .coin-value {
                            margin: 0 3px 0 0;
                        }

                        .coin-growth {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            font-size: 9px;

                            span {
                                margin: 0 0 0 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    .watchlist-chart-container {
        .chart-header {
            display: flex;
            flex-direction: row;

            justify-content: space-between;

            .left-side {
                display: flex;
                flex-direction: row;

                .coin-selector {
                    //BEGIN: Prime React Override
                    .p-dropdown {
                        width: 170px;
                    }
                    //END: Prime React Override
                }
    
                .coin-summary {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    margin: 0 0 0 30px;
    
                    font-weight: 800;
    
                    .coin-growth {
                        font-size: small;
                        color: #3478f6;
    
                        .amount {
                            margin: 0 5px 0 0;
                        }
    
                        .percentage {
                            margin: 0 0 0 5px;
                        }
                    }
                }
            }

            .chart-controls {
                //BEGIN: Prime React Override
                .p-selectbutton .pbutton, .p-button {
                    padding: 5px 10px 5px 10px;
                    margin: 0 2px 0 2px;
                    
                    border: none;
                    font-size: smaller;
                    font-weight: bolder;
                    color: #b0b4bf;

                    &.p-focus, &.p-highlight {
                        background-color: #f4f5f7;
                        border: none;
                        box-shadow: none;
                        color: inherit;
                    }

                    // &:focus{
                    //     background-color: red;
                    //     border: none;
                    //     box-shadow: none;
                    // }
                }
                //END: Prime React Override
            }
            
        }
    }
}