.watchlist-container {
    .watchlist-cards-container {
        display: flex;
        flex-direction: column;
        margin: 0 0 20px 0;
        cursor: pointer;

        .watchlist-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //margin: 0 10px;
            color: #707384;

            .header-title {
                display: flex;
                align-items: center;
                font-weight: bolder;

                span {
                    margin-right: 10px;
                }

                .add-icon {
                    display: flex;
                    align-items: center;
                    border-radius: 25px;
                }
            }

            .arrow-buton {
                color: #383e49;
            }
        }

        
        .watchlist-content {
            display: flex;
            flex-direction: row;
            overflow: auto;
        }
    }

    .watchlist-chart-container {
        .chart-header {
            display: flex;
            flex-direction: row;

            justify-content: space-between;

            .left-side {
                display: flex;
                flex-direction: row;

                .coin-selector {
                    //BEGIN: Prime React Override
                    .p-dropdown {
                        width: 170px;
                    }
                    //END: Prime React Override
                }
            }

            .chart-controls {
                //BEGIN: Prime React Override
                .p-selectbutton .pbutton, .p-button {
                    padding: 5px 10px 5px 10px;
                    margin: 0 2px 0 2px;
                    
                    border: none;
                    font-size: smaller;
                    font-weight: bolder;
                    color: #b0b4bf;

                    &.p-focus, &.p-highlight {
                        background-color: #f4f5f7;
                        border: none;
                        box-shadow: none;
                        color: inherit;
                    }

                    // &:focus{
                    //     background-color: red;
                    //     border: none;
                    //     box-shadow: none;
                    // }
                }
                //END: Prime React Override
            }
            
        }
    }
}