.quick-exchange-container {
    display: flex;
    flex-direction: column;

    padding: 10px;
    border: 2px solid #f6f5fa;
    border-radius: 20px;

    .quick-exchange-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .quick-exchange-conversion {
        display: flex;
        flex-direction: column;
    }
}