.main-app-container {
    display: flex;
    flex-direction: row;

    position: relative;
    width: 100vw;
    height: 100vh;

    padding: 20px;

    background-color: #fdfeff;
}

.app-section {
    
    &.side-menu {
        width: 200px;
        padding: 0 0 0 10px;
        
    }

    &.content {
        flex: 1;
        padding: 20px;
        border: 2px solid #f6f5fa;
        border-radius: 20px;
        overflow: auto;
    }

    &.highlights {
        width: 300px;
    }
}