.header {
  color: #353535;
  letter-spacing: -1.5px;
}

.App {
  /* text-align: center; */
  padding: 10px;

}

.crypto-summary-input {
  margin: 10px;
}

.chart-selector {
  margin-right: 10px;
  width: fit-content;
}


.dropdown-item {
  display: flex;
  align-items: center;

}

.dropdown-item .icon{
  margin-right: 10px;

}